body {
    padding: 0;
    margin: 0;
    font-family: "Saira", 'Times New Roman', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.fa-bars {
    position: absolute;
    top: 15px;
    left: 65px;
}

nav {
    height: 50px;
    background-color: #dedede;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.email_notification {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-right: 30px;
    color: #edaa2e;
}

.search {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    width: 200px;
    margin-right: 50px;
}

input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 15px 0 0 15px;
}

button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    color: #edaa2e;
}

button:hover {
    background-color: #e0e0e0;
}

.profile img{
    width: 50px;
}

#side_nav {
    background: linear-gradient(to right, #edaa2e 10%, #dedede);
    color: black;
    /* width: 250px; */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    /* display: none; */
}

.hidden {
    display: none;
}

#logo {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.name {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

#side_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: initial;
}

li:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}